@import "../../styles/button/button.scss";

.login-page {
    //  margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;

    .login-wrapper {
        //   height: 100%;
        position: relative;
        align-self: center;
        width: 60%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        display: flex;
        justify-content: center;

        .login-part-1 {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: 1px solid #ccc;
            width: 50%;
            background-image: url("../../assests/background-building.jpeg");
            filter: blur(1px);
            -webkit-filter: blur(1px);
        }

        .logo {
            img {
                width: 200px;
                background-color: rgb(0, 0, 0); /* Fallback color */
                background-color: rgba(253, 253, 253, 0.4);

                // background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
                color: white;
                font-weight: bold;
                border: 3px solid #f1f1f1;
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translate(-50%, -50%);
                z-index: 2;
                width: 200px;
                padding: 20px;
                text-align: center;
            }
        }

        .login-part-2 {
            padding: 20px;
            border: 1px solid #ccc;
            width: 50%;

            .login-field {
                padding: 20px;

                .input-group-text {
                    background-color: #bf4040;
                    border-color: #bf4040;
                    color: white;
                }

                input {
                    font-size: 12px;
                }

                .continue-btn {
                    background-color: #bf4040;
                    border-color: #bf4040;
                }

                .login-field-spacing {
                    margin-bottom: 16px;
                }

                .media-text {
                    font-size: 13px;
                    text-align: left;
                }

                .social-media-icon {
                    .fab {
                        padding-right: 10px;
                    }

                    .google-background-clr {
                        background-color: red;
                        border-color: red;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .login-page {
        display: block;
        margin: 0;

        .login-wrapper {
            display: block;
            margin: 0;
            width: 100%;
            box-shadow: none;

            .login-part-1 {
                min-height: 230px;
                width: 100%;
            }

            .logo {
                img {
                    top: 15%;
                    left: 50%;
                    z-index: 2;
                    width: 200px;
                }
            }

            .login-part-2 {
                width: 100%;
                border: none;
            }
        }
    }
}
