@import "../../styles/button/button.scss";
@import "../../styles/variables/colors.scss";
@import "../../styles/variables/variables.scss";

.login-page {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;

  .login-wrapper {
    position: relative;
    align-self: center;
    max-width: 1000px;
    width: 55%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;

    .login-part-1 {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border: 1px solid $login-page-border;
      width: 50%;
      background-image: url("../../assests/background-building.jpeg");
      filter: blur(1px);
      -webkit-filter: blur(1px);
    }

    .logo {
      img {
        width: 200px;
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(253, 253, 253, 0.6);

        // background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 200px;
        padding: 20px;
        text-align: center;
      }
    }

    .login-part-2 {
      text-align: center;
      padding: 20px;
      border-top: 1px solid $login-part-2-border;
      border-bottom: 1px solid $login-part-2-border;
      border-right: 1px solid $login-part-2-border;
      width: 50%;

      .login-field {
        padding: 25px;
        .input-group {
          box-shadow: none;
          .input-group-text {
            background-color: $login-icon;
            border-color: $login-icon;
            color: $login-icon-text-color;
          }
          input {
            font-size: $placeholder-font-size;
          }
        }
        .form-control:focus {
          box-shadow: none;
          border-color: $login-icon;
        }

        .continue-btn {
          background-color: $continue-btn;
          border-color: $continue-btn;
        }

        .login-field-spacing {
          margin-bottom: 16px;
        }
        .login-or {
          position: relative;
          font-size: 18px;
          color: $login-or-text-clr;
          margin-top: 10px;
          margin-bottom: 26px;
          padding-top: 10px;
          padding-bottom: 10px;
          .hr-or {
            background-color: #cdcdcd;
            height: 1px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
          }
          .span-or {
            display: block;
            position: absolute;
            left: 50%;
            top: -2px;
            margin-left: -25px;
            background-color: $span-or-background-clr;
            width: 50px;
            text-align: center;
          }
        }

        .media-text {
          font-size: 13px;
          text-align: left;
        }

        .social-media-icon {
          .fab {
            padding-right: 10px;
          }

          .google-background-clr {
            background-color: $google-icon;
            border-color: $google-icon;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .login-page {
    display: block;
    margin: 0;

    .login-wrapper {
      display: block;
      margin: 0;
      width: 100%;
      box-shadow: none;

      .login-part-1 {
        min-height: 230px;
        width: 100%;
      }

      .logo {
        img {
          top: 19%;
          left: 50%;
          z-index: 2;
          width: 200px;
        }
      }

      .login-part-2 {
        width: 100%;
        border: none;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .login-page {
    .login-wrapper {
      width: 85%;
      .logo {
        img {
          width: 165px;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .login-page {
    .login-wrapper {
      width: 65%;
      .logo {
        img {
          width: 180px;
        }
      }
    }
  }
}
