
.all-primary-button{
box-shadow: none !important;
border-top-right-radius: 19px;
border-bottom-right-radius: 19px;
border-top-left-radius: 19px;
border-bottom-left-radius: 19px;
padding-left: 20px;
padding-right: 20px;
min-width: 100px;
}

.all-secondart-button{
    box-shadow: none !important;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    min-width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}