
// login page color
$continue-btn: #bf4040;
$continue-btn-text: white;
$login-icon: #bf4040;
$facebook-icon: #007bff;
$google-icon: red;
$login-page-border: #ccc;
$login-part-2-border: #ccc;
$login-icon-text-color: white;
$login-or-text-clr: #aaa;
$span-or-background-clr: #fafafa;
