@import "../../styles/variables/variables.scss";
@import "../../styles/variables/colors.scss";

.common-dropdown {
  width: 400px;
  margin: 30px;
  font-size: $placeholder-font-size !important;
  
}
